@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.active {
  color: #1fb2a6;
  background-color: #1fb2a60a;
  border-radius: 10px;
}

.card img {
  max-height: 300px;
}

.card .author-img {
  max-height: 40px;
}

.modal-div .author-img {
  max-height: 40px;
}

.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-div {
  max-height: 90vh;
  overflow-y: auto;
  display: block;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}